<div class="recipe">
  <div class="recipe_contents">
    <p><%= recipe.id %>. </p>
    <div class='recipe_name'>
      <%= recipe.name.try(:titleize) %>
    </div>
    <%= raw(recipe.contents.try(:gsub, /\r\n/, '<br />')) %>
    <p>
      <%= link_to 'Edit', edit_recipe_path(recipe) %> | 
      <%= link_to raw("&times;"), recipe, :confirm => 'Are you sure?', :method => :delete %>
    </p>
  </div>
</div>