<div class="recipe">
  <div class="recipe_contents">
    <p><%= recipe.id %>. </p>
    <div class='recipe_name'>
      <%= recipe.name.titleize %>
    </div>
    <% if (ingredients = recipe.ingredients).present? %>
      <%= form_tag(recipe_path(recipe.try(:id) || params[:id]), method: :get) do %> <%# a scaled recipe doesn't exist in the DB, so has to use params[:id] %>
        Servings: 
        <%= text_field_tag :serving, params[:serving] || recipe.serving %>        
        <%= submit_tag "Scale" %>
      <% end %>
      <strong>Ingredients</strong>
      <% ingredients.each do |i| %>
        <p><%= raw(i) %></p>
      <% end %>
    <% end %>
    <p><strong>Directions</strong></p>
    <%= raw(recipe.contents.try(:gsub, /\r\n/, '<br />')) %>
    <% if recipe.id %>
      <p>
        <%= link_to 'Edit', edit_recipe_path(recipe) %> | 
        <%= link_to raw("&times;"), recipe, confirm: 'Are you sure?', method: :delete %>
      </p>
    <% end %>
  </div>
</div>