<style>
  #new_recipe {
    display: none;
  }
</style>
<div id="new_recipe_container">
  <%= link_to "New recipe", "#", :onclick => "$('#new_recipe').toggle()" %>
  <%= render :partial => 'form' %>
<div>
<h1>Recipes</h1>
<% if @recipes.present? %>
  <%= will_paginate @recipes %>
  <div id="recipes">
    <%= render :partial => 'recipe', :collection => @recipes %>
  </div>
  <%= will_paginate @recipes %>
<% else %>
  No recipes found.
<% end %>