<style>
  #new_recipe {
    display: none;
  }
</style>
<div id="new_recipe_container">
  <%= link_to "New recipe", "#", onclick: "$('.new_recipe').toggle()" %>
  <%= form_for(@recipe) do |f| %>
    <strong>(NOT WORKING!) If the recipe has an Ingredients section, just dump it here:</strong>
    <p>
      <%= f.text_area :contents %>
    </p>
    <%= f.hidden_field :parse_status, value: "unparsed" %>
    <p>
      <%= f.submit 'Parse this for me' %>
    </p>
  <% end %>
  <%= form_for(@recipe) do |f| %>
    <strong>If not, use this form:</strong>
    <p>
      <%= f.label :name %>
    </p>
    <p>
      <%= f.text_field :name, required: true %>
    </p>
    <p>
      <%= f.label :serving %>
    </p>
    <p>
      <%= f.text_field :serving %>
    </p>
    <p>
      <%= f.label :ingredient_list %>
    </p>
    <p>
      <%= f.text_area :ingredient_list %>
    </p>
    <p>
      <%= f.label :contents, "Directions" %>
    </p>
    <p>
      <%= f.text_area :contents, required: true %>
    </p>
    <%= f.hidden_field :parse_status, value: "parsed" %>
    <p>
      <%= f.submit 'Save' %>
    </p>
  <% end %>
</div>
<h1>Recipes</h1>
<% if @recipes.present? %>
  <%= will_paginate @recipes %>
  <div id="recipes">
    <%= render partial: 'recipe', collection: @recipes %>
  </div>
  <%= will_paginate @recipes %>
<% else %>
  No recipes found.
<% end %>