<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption' rel='stylesheet' type='text/css'>
<head>
  <title>Recipe app</title>
  <%= javascript_include_tag :all, :cache => true %>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <div class="flash">
    <% flash.each do |k, v| %>
      <div class=<%= k %>>
        <%= v %>
        <%= link_to "&times;".html_safe, "#", :onclick => "$(this).parent().slideUp()" %>
      </div>
    <% end %>
  </div>
  <div id="search">
    <%= form_tag recipes_path, :method => :get do %>
      <%= search_field_tag :search %> 
      <%= submit_tag "Find" %>
    <% end %>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</body>